* {
    box-sizing: border-box;
}
body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
    cursor: pointer;

    background: #333;
    color: #ccc;
}

.playing header:after,
.paused header:after {
    display: block;
    margin: 3em 0 0;
    font-style: italic;
}

.playing header:after {
    content: 'listening...';
}

.paused header:after {
    content: 'analysis paused.';
}

a {
    color: #fcc;
}

header {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 99;
    max-width: 50rem;
    margin: 0 auto;
}

.container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 2s ease-in-out,
        opacity 2s ease-in-out;
}

.gravity .container-out {
    transform: translateY(100vh);
}

.particle {
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background: white;
    transition: transform 2s cubic-bezier(.23,1,.32,1), opacity 2s ease-in-out;
    transform: none;
    border-radius: 50%;
}
