body {
    background: black;
}
a {
    display: block;
}
.disabled {
    cursor: default;
    text-decoration: none;
    opacity: 0.5;
}
.hidden {
    display: none;
}
.out {
    opacity: 0;
}
#controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 3rem;
}
#controls a {
    color: white;
    font-family: sans, sans-serif;
    font-weight: 300;
    line-height: 5rem;
    font-size: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}
#pause {
    transition: opacity 500ms ease;
}
/* .playing #controls:not(:hover) #pause { */
/*     opacity: 0; */
/* } */
#background-container,
#video-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#circles-container {
    position: absolute;
    top: 1rem;
    right: calc(1rem + 5vw);
    bottom: calc(1rem + 5vw);
    left: 1rem;
}
#circles-container video {
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
    transition: opacity 2s ease;
    box-shadow: black 0 0 1em -0.7em;
}
#background-container video,
#video-container video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 2s ease;
}
#video-container video:not(.out) {
    opacity: 0.5;
}
#circles-container video:not(.out) {
    opacity: 1;
}
