* {
    box-sizing: border-box;
}
body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
    cursor: pointer;
}

header {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 99;
}

.container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 2s ease-in-out,
        opacity 2s ease-in-out;
}

.outline .container {
    border: thin solid rebeccapurple;
    background: rgba(100, 0, 100, 0.2);
}

.clipping .container {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.circle .container {
    border-radius: 50%;
    overflow: hidden;
}

.gravity .container-out {
    transform: translateY(100vh);
}

.clipping .container {
    opacity: 0.9;
}

.particle {
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background: black;
    transition: transform 2s cubic-bezier(.23,1,.32,1);
    transform: none;
    border-radius: 50%;
}
